.footerSuscribete-boton{
    background-color: #C65f58;
    border-style: round($number: 3);
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
}

.zonasuscribete-boton{
    background-color: #C65f58;
    border-style: round($number: 3);
    border: none;
    color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
}