@media only screen and (max-width: 375px) {
    .footerArriba-logoycopy {
        margin: 0px;
        padding:0px;
        border:0px;
        width: 100%;
        overflow-x: hidden;
    }
    .footerArriba-copyright{
        margin-left: 15px;
        margin-right: 10px;
    }
    .footerArriba-linkpiqueos{
        margin-left: 15px;
    }
    .footerArriba-linkfondo{
        margin-left: 15px;
    }
    .footerArriba-linkpostres{
        margin-left: 15px;
    }
}
@media only screen and (max-width: 576px) {
    .footerArriba-logoycopy {
        margin: 0px;
        padding:0px;
        border:0px;
        width: 100%;
        overflow-x: hidden;
    }
    .footerArriba-copyright{
        margin-left: 15px;
        margin-right: 10px;
    }
    .footerArriba-linkpiqueos{
        margin-left: 15px;
    }
    .footerArriba-linkfondo{
        margin-left: 15px;
    }
    .footerArriba-linkpostres{
        margin-left: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .footerArriba-logoycopy {
        margin: 0px;
        padding:0px;
        border:0px;
        width: 100%;
        overflow-x: hidden;
    }
    .footerArriba-copyright{
        margin-left: 15px;
        margin-right: 10px;
    }
    .footerArriba-linkpiqueos{
        margin-left: 15px;
    }
    .footerArriba-linkfondo{
        margin-left: 15px;
    }
    .footerArriba-linkpostres{
        margin-left: 15px;
    }
}

@media only screen and (max-width: 992px) {
    .footerArriba-logoycopy {
        margin: 0px;
        padding:0px;
        border:0px;
        width: 100%;
        overflow-x: hidden;
    }
    .footerArriba-copyright{
        margin-left: 15px;
        margin-right: 10px;
    }
    .footerArriba-linkpiqueos{
        margin-left: 15px;
    }
    .footerArriba-linkfondo{
        margin-left: 15px;
    }
    .footerArriba-linkpostres{
        margin-left: 15px;
    }
}

@media only screen and (max-width: 1200px) {
    .footerArriba-logoycopy {
        margin: 0px;
        padding:0px;
        border:0px;
        width: 100%;
        overflow-x: hidden;
    }
    .footerArriba-copyright{
        margin-left: 15px;
        margin-right: 10px;
    }
    .footerArriba-linkpiqueos{
        margin-left: 15px;
    }
    .footerArriba-linkfondo{
        margin-left: 15px;
    }
    .footerArriba-linkpostres{
        margin-left: 15px;
    }
}